*{
    box-sizing: border-box;
}

:root{
    --secondary:rgba(146,204,206,1);
    --tertiary: rgba(49,52,61,1);

}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 6% 15px 0;
    flex-direction: row;
    background-color: var(--tertiary);
}

header h1{
    color: var(--tertiary);
    background-color: var(--secondary);
    padding: 5px 1% 5px 6%;
    margin: 0;
    line-height: 1;

}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
